node_modules
.DS_Store
***/node_modules/
***/node_modules*
_ops/deploy-*
!_ops/deploy-ENV.template
web/.ht.router.php
web/core/*
web/libraries/*
web/modules/contrib/*
web/themes/contrib/bootstrap5
web/sites/default/files/*
web/sites/*/private
vendor/*
private/*
gulp-environment-settings.js
web/sites/default/settings.env.php
backup-*.mysql.gz
*.sql**
*.mysql**
db**.*
yarn-error.log
